* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    background-color: #333333;
    color: #f9f9f9;
    font-size: 20px;
}

button {
    border: none;
    background-color: inherit;
    color: #f9f9f9;
    font-size: 25px;
    cursor: pointer;
}

.nav-menu-desktop {display: none;}

ul {
    display: block;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: 5% 5%;
    display: block;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 3%;
}

.text {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

#close-btn {
    color: inherit;
    font-size: 20px;
}

dialog {
    padding: 5%;
}

@media (min-width: 768px){
    button {display: none;}
    .nav-menu-desktop {display: flex;}
    main {margin: 3% 15%;}
    .boas-vindas {display: flex; justify-content: space-around;}
    header {font-size: 28px;}
    h1 {font-size: 36px;}
    .text p {font-size: 20px;}
}